label, input, option, select {
  font-family: 'Montserrat';
}

.cheese-images {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  width: 99vw;
  object-fit: cover;
}

.cheese-row-image {
  flex-shrink: 1;
  width: 24.75vw;
  height: 23vw;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .main-text {
    flex-flow: wrap;
  }
  .form-content {
    width: 99vw;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .cheese-row-image {
    width: 49vw;
    height: 49vw
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .cheese-row-image {
    width: 99vw;
    height: 99vw;
  }
}

@media only screen and (max-width: 580px) {
  .cheese-row-image {
    width: 580px;
    height: 580px;
    object-fit: cover;
  }
  .form-content {
    width: 580px;
  }
  .fran-cheese-ad-header {
    width: 580px;
  }
}

.fran-cheese-ad-header h1 {
  text-transform: uppercase;
  text-wrap: wrap;
  font-size: 4em;
  font-weight: lighter;
  margin-left: 1em;
}

.first-paragraph {
  font-weight: bold;
  color: #8B3A19;
}

.first-sentence {
  color: #000000;
}

.second-paragraph {
  font-weight: light
}

.required:after {
  content: " *";
  color: red;
}

.main-text {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: start;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 2em;
}

.text-content {
  margin: 2.5%;
  margin-top: 3em;
  flex-grow: 1;
  font-size: larger;
}

.form-content {
  background-color: #E7E7E7;
  flex-grow: 1;
  height: fit-content;
  padding-bottom: 2em;
  margin: 2.5%;
  margin-top: -5em;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 1px;
}

.form-content h2 {
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: xx-large;
  color: #998643;
}

.form-content div {
  margin: 5%;
  margin-left: 10%;
  width: 84%;
}

.form-content label {
  line-height: 35px;
}

.form-content .text-input {
  width: 86%;
  padding: 0.4em;
  font-size: large;
}


.form-content select {
  width: 90%;
  padding: 0.4em;
  font-size: large;
}

.root-lowercase-btn {
  font-size: large;
}